/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url('https://fonts.googleapis.com/css?family=Dekko|Fira+Sans');

body {
    background-color: orange;
    font-family: 'Fira Sans', sans-serif;

    section.body-title {
        clear: both;

        div.container {

            h1.header-name {
                text-transform: uppercase;
                color: white;
                font-size: 72px;
                text-align: center;
                line-height: 1em;

                 > span {
                     display: block;

                     &.description {
                         font-size: 48px;
                     }
                 }

            }

            h2.information {
                border-top: 2px dashed black;

                ul.info-list {
                    margin-top: 20px;
                    text-align: center;

                    >  li {
                        display: inline;
                        padding: 10px;

                         >  a {
                             text-decoration: none;
                            font-size: 24px;
                            color: white;


                         }
                        &:hover {
                            background-color: red;
                        }
                    }
                }
            }
        }
    }

    #MusesRadioPlayer-HTML5-player-0 {
        margin: 0 auto 70px auto;
    }
}




