/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import url('https://fonts.googleapis.com/css?family=Dekko|Fira+Sans');

body {
    background-color: orange;
    font-family: 'Fira Sans', sans-serif;

    section.body-title {
        clear: both;
        margin-bottom: 50px;

        div.container {
            //width: 900px;
            //margin: 0 auto 50px auto;

            h1.header-name {
                text-transform: uppercase;
                color: white;
                font-size: 72px;
                text-align: center;
                line-height: 1em;

                > span {
                    display: block;

                    &.description {
                        font-size: 48px;
                    }
                }

            }

            h2.information {
                border-top: 2px dashed black;

                ul.info-list {
                    margin-top: 20px;
                    text-align: center;

                    > li {
                        display: inline;
                        padding: 15px;

                        > a {
                            text-decoration: none;
                            font-size: 24px;
                            color: white;

                            &:focus {
                                border-bottom: 2px solid red;
                            }

                        }
                        &:hover {
                            transition: background-color 0.5s;
                            background-color: red;
                        }
                    }
                }
            }
        }
    }

    section.contacts {
        display: none;
        padding-bottom: 50px;
        width: 900px;
        margin: 0 auto;
        overflow: hidden;

       div.contacts-list {
           clear: both;

            img {
                float: left;
                width: 40%;
            }

           ul {
               float: left;
               display: inline-block;
               line-height: 2.5em;
               margin-left: 50px;

               > li {
                   a {
                       text-decoration: none;
                   }
               }
           }
       }
    }

    section.about-us,
    section.app {
        display: none;
        width: 900px;
        margin: 0 auto;
        text-align: center;

        p, span {
            color: #fff;
            line-height: 1.5em;
            font-size: 24px;
        }
    }

    #MusesRadioPlayer-HTML5-player-0 {
        margin: 0 auto 70px auto;
    }
}




